*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --main-color: #fff;
  --accent-color: #101727;
  --button-background-color: #bfe1e5;
  --button-radius:5px;
  --button-text-color: #39878f;
  --category-name-text: #adaeb5; 
  --product-name-color: #717783;

}