.product-page {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}

.product-page .product-container .productCard-card {
  margin: 2rem 0;
}
.product-page .product-container {
  justify-content: center;
  gap: 2rem;
}
.product-page .filters {
  width: 90%;
  margin: 3rem auto 0;
  padding: 1rem;
  background-color: rgb(241, 241, 241);
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  border-radius: 1rem;
}
.product-page .filters label {
  display: block;
}

.filters {
  display: flex;
  flex-direction: column;
}
.categories {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

}
.categories-title {
  margin-top: 1rem;
}
.price-title {
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}
.radio-btn {
  margin-left: 0.5rem;
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 15px;
  width: 200px;
  height: 7px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  background-image: linear-gradient(var(--accent-color), var(--accent-color));
  background-size: 100%;
  background-repeat: no-repeat;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--main-color);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1.5rem 0rem;
}
.pagination button {
  padding: 5px 15px;
  background-color: var(--accent-color);
  color: var(--main-color);
  cursor: pointer;
}

.pagination button {
  border: none;
}
